table, td {
  border: 1px solid black;
}
.thead{
  font-style: inherit ;
  font-family: 'Courier New', Courier, monospace;
  color:darkslategrey;
  font-weight:  900;
}
.makeup{
  font-style: inherit ;
  font-family:   'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color : cadetblue ;
  font-weight: 100;
}
.button-style{
  background-color:  white;
  font-style: inherit ;
  font-family:   'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color  : brown ;
  border-radius: 4rem ;

}
.button-style-01{
  background-color:  dimgray;
  font-style: inherit ;
  font-family:   'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color :  deepskyblue ;
  border-radius: 4rem ;


}